<h2>Info for Group Notification #<%= @groupnotification.id %></h2>
<p>Click here to <%= link_to "delete this group notification.", @groupnotification, :method => :delete, :confirm => "Delete this group notification?", :title => "Delete #{@groupnotification.id}" %></p>
<% if @groupnotification.sent_at.nil? %>
<p>Click here to <%= link_to "send this group notification.", dispatch_gn_groupnotification_path %></p>
<% end %>
<h3>Recipient Group:</h3>
<p><%= Group.find(@groupnotification.group_id).name %></p>
<h3>Sent At:</h3>
  <% if @groupnotification.sent_at %>
    <p><%= @groupnotification.sent_at.localtime %></p> 
  <% else %>  
    <p>not yet sent</p> 
  <% end %>
<h3>Badge:</h3>
<p><%= @groupnotification.badge %></p>
<h3>Alert:</h3>
<p><%= @groupnotification.alert %></p>
