<!DOCTYPE html>
<html>
<head>
  <title>Stuart's Kitchen</title>
  <%= stylesheet_link_tag "Colourise" %> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- wrap starts here -->
<div id="wrap">

<%= render 'layouts/header' %>
	
	  <% flash.each do |key, value| %>
    	    <div class="flash_<%= key %>"><%= value %> </div>
	  <% end %>
	
	
<div id="content-wrap">
				
		<div id="main">

      <%= yield %>
      				
				
			<br />	

		<!-- main ends -->	
		</div>
		
		<%= render 'layouts/sidebar' %>

		
<!-- content-wrap ends-->	
</div>


</body>
</html>
